.About_gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0 14px 29px rgba(0, 0, 0, 0.7), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.about_img {
  width: 350px;
  height: 350px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
  box-shadow: 5px 3px #4d3531, -0.4em 0 0 #fc9047;
  margin-top: 15px;
}
.about_title {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-content: center;
  color: #fc9047;
}
.about_description {
  color: #333;
}
.about_esperance {
  color: #333;
}

@media (max-width: 1300px) {
  .about_container {
    width: 36%;
  }
}

@media (min-width: 751px) and (max-width: 1000px) {
  .about_container {
    width: 45%;
  }
  .about_img {
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
  }
}

@media (max-width: 750px) {
  .about_container {
    width: 100%;
  }
  .about_img {
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
  }
}
